flows_raspberrypi.json
[{"id":"3ddf226d.da45fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3a45b8e.5565a8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"LoM","name":""},{"id":"83b7105b.6e11b","type":"http in","z":"3ddf226d.da45fe","name":"","url":"/sensor","method":"put","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["67fd4be0.693fe4","c9683357.9bcf5","b63d105f.59c99","df0b4a47.d46d38"]]},{"id":"67fd4be0.693fe4","type":"function","z":"3ddf226d.da45fe","name":"","func":"msg.payload = {\n    status: 'success'  \n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["19170919.ae39a7"]]},{"id":"19170919.ae39a7","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{},"x":900,"y":240,"wires":[]},{"id":"c9683357.9bcf5","type":"function","z":"3ddf226d.da45fe","name":"","func":"if(msg.payload.luminosity) {\n    msg.payload = {\n        luminosity : msg.payload.luminosity,\n        timestamp: new Date()\n    }\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["4d74eec8.c7cbf"]]},{"id":"4d74eec8.c7cbf","type":"mongodb out","z":"3ddf226d.da45fe","mongodb":"c3a45b8e.5565a8","name":"","collection":"luminosity","payonly":true,"upsert":false,"multi":false,"operation":"store","x":830,"y":80,"wires":[]},{"id":"b63d105f.59c99","type":"function","z":"3ddf226d.da45fe","name":"","func":"if(msg.payload.temperature) {\n    msg.payload = {\n        temperature : msg.payload.temperature,\n        timestamp: new Date()\n    }\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["ecc775d1.eb4768"]]},{"id":"ecc775d1.eb4768","type":"mongodb out","z":"3ddf226d.da45fe","mongodb":"c3a45b8e.5565a8","name":"","collection":"temperature","payonly":true,"upsert":false,"multi":false,"operation":"store","x":820,"y":160,"wires":[]},{"id":"df0b4a47.d46d38","type":"debug","z":"3ddf226d.da45fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"72b4f5e8.d9d6ec","type":"http in","z":"3ddf226d.da45fe","name":"","url":"luminosity","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["52e58e37.4ff61"]]},{"id":"52e58e37.4ff61","type":"mongodb in","z":"3ddf226d.da45fe","mongodb":"c3a45b8e.5565a8","name":"","collection":"luminosity","operation":"find","x":490,"y":500,"wires":[["d4c2b07a.6ee86"]]},{"id":"d4c2b07a.6ee86","type":"function","z":"3ddf226d.da45fe","name":"","func":"let body = [];\nmsg.payload.forEach((item, index) => {\n    body.push({\n        value: item.luminosity,\n        timestamp: item.timestamp\n    }) \n});\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["961288f4.825918"]]},{"id":"961288f4.825918","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{},"x":910,"y":500,"wires":[]},{"id":"3b6553bc.65b87c","type":"http in","z":"3ddf226d.da45fe","name":"","url":"temperature","method":"get","upload":false,"swaggerDoc":"","x":150,"y":580,"wires":[["48693e87.ea33"]]},{"id":"48693e87.ea33","type":"mongodb in","z":"3ddf226d.da45fe","mongodb":"c3a45b8e.5565a8","name":"","collection":"temperature","operation":"find","x":500,"y":580,"wires":[["4dffd294.af545c"]]},{"id":"4dffd294.af545c","type":"function","z":"3ddf226d.da45fe","name":"","func":"let body = [];\nmsg.payload.forEach((item, index) => {\n    body.push({\n        value: item.temperature,\n        timestamp: item.timestamp\n    }) \n});\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["5614b2a2.d1c36c"]]},{"id":"5614b2a2.d1c36c","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{},"x":910,"y":580,"wires":[]},{"id":"63148b21.2d5254","type":"exec","z":"3ddf226d.da45fe","command":"python /home/pi/on.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":660,"y":880,"wires":[["2d2fd819.fe1ee8"],[],[]]},{"id":"63c35f98.6afaa","type":"http in","z":"3ddf226d.da45fe","name":"","url":"on","method":"get","upload":false,"swaggerDoc":"","x":120,"y":820,"wires":[["9d09061c.912b48","3545ea13.bab496"]]},{"id":"e1751f85.397c4","type":"http in","z":"3ddf226d.da45fe","name":"","url":"off","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1040,"wires":[["1efb16c1.020d79","979ffc57.b3fa7"]]},{"id":"dc404d49.fb444","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{},"x":900,"y":780,"wires":[]},{"id":"c76c3462.f90828","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{},"x":900,"y":1080,"wires":[]},{"id":"1efb16c1.020d79","type":"exec","z":"3ddf226d.da45fe","command":"python /home/pi/off.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":660,"y":1020,"wires":[["2d2fd819.fe1ee8"],[],[]]},{"id":"9d09061c.912b48","type":"function","z":"3ddf226d.da45fe","name":"","func":"console.log(msg.req.params)\n\nmsg.payload = msg.payload.minutes\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":880,"wires":[["63148b21.2d5254"]]},{"id":"2d2fd819.fe1ee8","type":"debug","z":"3ddf226d.da45fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":940,"wires":[]},{"id":"3545ea13.bab496","type":"function","z":"3ddf226d.da45fe","name":"","func":"\nmsg.payload = {\n    status: \"Activated\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["dc404d49.fb444"]]},{"id":"979ffc57.b3fa7","type":"function","z":"3ddf226d.da45fe","name":"","func":"\nmsg.payload = {\n    status: \"Deactivated\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1080,"wires":[["c76c3462.f90828"]]},{"id":"851712e9.83559","type":"http in","z":"3ddf226d.da45fe","name":"","url":"config","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1240,"wires":[["355b271c.2aec18"]]},{"id":"355b271c.2aec18","type":"function","z":"3ddf226d.da45fe","name":"","func":"const require = global.get('require')\nconst fs = require('fs')\n\nmsg.payload = JSON.parse(fs.readFileSync('/home/pi/settings.json', 'utf8'));\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[["76a2224.95276dc"]]},{"id":"76a2224.95276dc","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{"Content-Type":"Application/JSON","Access-Control-Allow-Origin":"*","Access-Control-Allow-Methods":"GET, PUT","Access-Control-Allow-Headers":"content-type"},"x":900,"y":1240,"wires":[]},{"id":"de5e4d9b.1cd38","type":"http in","z":"3ddf226d.da45fe","name":"","url":"config","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1320,"wires":[["d572f857.268508"]]},{"id":"d572f857.268508","type":"function","z":"3ddf226d.da45fe","name":"","func":"const require = global.get('require')\nconst fs = require('fs')\n\nfs.writeFileSync('/home/pi/settings.json', JSON.stringify(JSON.parse(msg.payload)))\n\nmsg.payload = {\n    status: 'success'\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1320,"wires":[["81fea323.0f14d"]]},{"id":"81fea323.0f14d","type":"http response","z":"3ddf226d.da45fe","name":"","statusCode":"200","headers":{"Access-Control-Allow-Origin":"*","Access-Control-Allow-Methods":"GET, PUT","Access-Control-Allow-Headers":"content-type","Content-Type":"application/JSON"},"x":900,"y":1320,"wires":[]}]